<link rel="stylesheet" href="/css/navigation.css">
<div id="nav">
    <div id="left-nav">
        <img class="logo" src="/images/Logo.svg" alt="Creape Logo">
        <a class="button" id="home" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                <g>
                    <polyline points="0.5 7 7 0.5 13.5 7" fill="none" stroke="#000000" stroke-linecap="round"
                              stroke-linejoin="round"></polyline>
                    <polyline points="2.5 8.5 2.5 13.5 11.5 13.5 11.5 8.5" fill="none" stroke="#000000"
                              stroke-linecap="round" stroke-linejoin="round"></polyline>
                </g>
            </svg>
        </a>
        <% if (loggedIn) { %>
            <a class="button" id="create" href="/post/create">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                    <g>
                        <g>
                            <line x1="7" y1="4" x2="7" y2="10" fill="none" stroke="#000000" stroke-linecap="round"
                                  stroke-linejoin="round"></line>
                            <line x1="4" y1="7" x2="10" y2="7" fill="none" stroke="#000000" stroke-linecap="round"
                                  stroke-linejoin="round"></line>
                        </g>
                        <rect x="0.5" y="0.5" width="13" height="13" rx="3" fill="none" stroke="#000000"
                              stroke-linecap="round" stroke-linejoin="round"></rect>
                    </g>
                </svg>
            </a>
        <% } %>
    </div>
    <form autocomplete="off" id="search" action="/" method="POST">
        <label id="label">
            <input onchange="submitForm()" id="searchbar" name="payload" type="text" placeholder="Suche...">
        </label>
        <div id="searchTypeContainer">
            <label for="searchType"></label>
            <select id="searchType" name="searchType">
                <option value="post">DIYs</option>
                <option value="user">Users</option>
            </select>
        </div>
    </form>
    <div id="right-nav">
        <% if (loggedIn) { %>
            <a class="button" id="messages">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          d="M2 10.12L0.5 10.5L1.5 7.5V1.5C1.5 1.23478 1.60536 0.98043 1.79289 0.792893C1.98043 0.605357 2.23478 0.5 2.5 0.5H10.5C10.7652 0.5 11.0196 0.605357 11.2071 0.792893C11.3946 0.98043 11.5 1.23478 11.5 1.5V3"></path>
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          d="M10 12.5L13.5 13.5L13 10.5V6.5C13 6.23478 12.8946 5.98043 12.7071 5.79289C12.5196 5.60536 12.2652 5.5 12 5.5H5.5C5.23478 5.5 4.98043 5.60536 4.79289 5.79289C4.60536 5.98043 4.5 6.23478 4.5 6.5V11.5C4.5 11.7652 4.60536 12.0196 4.79289 12.2071C4.98043 12.3946 5.23478 12.5 5.5 12.5H10Z"></path>
                </svg>
            </a>
            <a class="button" id="favorites">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                    <path d="M7.49,1.09,9.08,4.3a.51.51,0,0,0,.41.3L13,5.12a.54.54,0,0,1,.3.93L10.77,8.56a.53.53,0,0,0-.16.48l.61,3.53a.55.55,0,0,1-.8.58L7.26,11.48a.59.59,0,0,0-.52,0L3.58,13.15a.55.55,0,0,1-.8-.58L3.39,9a.53.53,0,0,0-.16-.48L.67,6.05A.54.54,0,0,1,1,5.12L4.51,4.6a.51.51,0,0,0,.41-.3L6.51,1.09A.54.54,0,0,1,7.49,1.09Z"
                          fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            <a class="navProfileButton" id="profile" href="<%= `/user/${currentUser._id}` %>">
                <img id="navProfilePicture"
                     src="data:image/<%= currentUser.profilePicture.contentType %>;base64,<%= currentUser.profilePicture.data.toString('base64') %>" alt="profile picture of <%= currentUser.username%>"/>
            </a>
        <% } else { %>
            <a id="loginButton" href="/login">Log In</a>
        <% } %>
    </div>
</div>
<div id="mobileNav">
    <div id="mobile">
        <a class="button" id="home" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                <g>
                    <polyline points="0.5 7 7 0.5 13.5 7" fill="none" stroke="#000000" stroke-linecap="round"
                              stroke-linejoin="round"></polyline>
                    <polyline points="2.5 8.5 2.5 13.5 11.5 13.5 11.5 8.5" fill="none" stroke="#000000"
                              stroke-linecap="round" stroke-linejoin="round"></polyline>
                </g>
            </svg>
        </a>
        <% if (loggedIn) { %>
            <a class="button" id="create" href="/post/create">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                    <g>
                        <g>
                            <line x1="7" y1="4" x2="7" y2="10" fill="none" stroke="#000000" stroke-linecap="round"
                                  stroke-linejoin="round"></line>
                            <line x1="4" y1="7" x2="10" y2="7" fill="none" stroke="#000000" stroke-linecap="round"
                                  stroke-linejoin="round"></line>
                        </g>
                        <rect x="0.5" y="0.5" width="13" height="13" rx="3" fill="none" stroke="#000000"
                              stroke-linecap="round" stroke-linejoin="round"></rect>
                    </g>
                </svg>
            </a>
            <a class="button" id="messages">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          d="M2 10.12L0.5 10.5L1.5 7.5V1.5C1.5 1.23478 1.60536 0.98043 1.79289 0.792893C1.98043 0.605357 2.23478 0.5 2.5 0.5H10.5C10.7652 0.5 11.0196 0.605357 11.2071 0.792893C11.3946 0.98043 11.5 1.23478 11.5 1.5V3"></path>
                    <path stroke="#000000" stroke-linecap="round" stroke-linejoin="round"
                          d="M10 12.5L13.5 13.5L13 10.5V6.5C13 6.23478 12.8946 5.98043 12.7071 5.79289C12.5196 5.60536 12.2652 5.5 12 5.5H5.5C5.23478 5.5 4.98043 5.60536 4.79289 5.79289C4.60536 5.98043 4.5 6.23478 4.5 6.5V11.5C4.5 11.7652 4.60536 12.0196 4.79289 12.2071C4.98043 12.3946 5.23478 12.5 5.5 12.5H10Z"></path>
                </svg>
            </a>
            <a class="button" id="favorites">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                    <path d="M7.49,1.09,9.08,4.3a.51.51,0,0,0,.41.3L13,5.12a.54.54,0,0,1,.3.93L10.77,8.56a.53.53,0,0,0-.16.48l.61,3.53a.55.55,0,0,1-.8.58L7.26,11.48a.59.59,0,0,0-.52,0L3.58,13.15a.55.55,0,0,1-.8-.58L3.39,9a.53.53,0,0,0-.16-.48L.67,6.05A.54.54,0,0,1,1,5.12L4.51,4.6a.51.51,0,0,0,.41-.3L6.51,1.09A.54.54,0,0,1,7.49,1.09Z"
                          fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            <a class="button" id="profile" href="<%= `/user/${currentUser._id}` %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                    <g>
                        <circle cx="7" cy="5.5" r="2.5" fill="none" stroke="#000000" stroke-linecap="round"
                                stroke-linejoin="round"></circle>
                        <path d="M2.73,11.9a5,5,0,0,1,8.54,0" fill="none" stroke="#000000" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <circle cx="7" cy="7" r="6.5" fill="none" stroke="#000000" stroke-linecap="round"
                                stroke-linejoin="round"></circle>
                    </g>
                </svg>
            </a>
        <% } else { %>
            <a id="loginButton" href="/login">Log In</a>
        <% } %>
    </div>
</div>
<script>
    //keep searchType from previous search
    const searchType = JSON.parse(`<%- JSON.stringify(searchType) %>`);
    const select = document.getElementById("searchType");
    select.value = searchType;

    function submitForm() {
        document.getElementById("search").submit();
    }
</script>