<link rel="stylesheet" href="/css/post.css">
<div class="grid">
    <div id="postInfo">
        <div class="postButtons">
            <a href="/user/dummyuser" id="username">username</a>
            <button id="followButton">Folgen</button>
        </div>
        <h1 id="postTitle"><%= post.title %></h1>
        <div id="postDescription"> <%= post.description %></div>
        <div class="postButtons">
            <a class="postButton" href=<%= `/post/${post._id}/edit` %>>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><path d="M7.5,9l-3,.54L5,6.5,10.73.79a1,1,0,0,1,1.42,0l1.06,1.06a1,1,0,0,1,0,1.42Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12,9.5v3a1,1,0,0,1-1,1H1.5a1,1,0,0,1-1-1V3a1,1,0,0,1,1-1h3" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
            </a>
            <a class="postButton" id="deleteButton" href=<%=`/post/${post._id}?_method=DELETE`%>>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><polyline points="11.5 5.5 10.5 13.5 3.5 13.5 2.5 5.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline><line x1="1" y1="3.5" x2="13" y2="3.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><path d="M4.46,3.21l0-1.73a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
            </a>
        </div>
    </div>
    <% if(post.img){ %>
        <img id="postImage" alt="Post Image" src=<%= post.img %>>
    <% } %>
        <% if(post.steps.length !== 0){ %>
            <h2 id="stepsTitle">Anleitung</h2>
            <% post.steps.forEach(step => { %>
                <div id="stepContainer">
                    <div id="stepInfo">
                        <div id="stepNumber"><%= step.number %></div>
                        <div><%= step.description %></div>
                    </div>
                </div>
        <% })} %>
</div>

