<style>
    table {
        border: solid 1px black;
    }

    th {
        border: solid 1px black;
        padding: 10px;
    }

    td {
        border: solid 1px black;
        padding: 10px;
    }
</style>
<div style="background-color: white; max-width: fit-content; margin: auto">
    <table>
        <tr><th>UserId</th><th>Username</th><th>Email</th><th>Posts</th></tr>
        <% users.forEach(user => { %>
            <tr>
                <td><a href="<%=`/user/${user._id}`%>"><%= user._id %></a></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <% user.posts.forEach(post => { %>
                        <div><a href="<%= `/post/${post._id}`%>"><%= `${post._id}` %></a></div>
                    <% }) %>
                </td>
            </tr>
        <% }) %>
    </table>
</div>