<html lang="de">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css"></link
</head>
<body>
<%- include('partials/navigation.ejs') %>
<% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
        <div id="alertMessage">
            <svg id="success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><polyline points="10 6 7 9 4 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline><circle cx="7" cy="7" r="6.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle></g></svg>
            <div><%= flashMessages.success %></div>
        </div>
    <% } else if (flashMessages.error) { %>
        <div id="alertMessage">
            <svg id="error" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><g><circle cx="7" cy="7" r="6.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle><line x1="7" y1="7" x2="7" y2="10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><circle cx="7" cy="4.5" r="0.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle></g></svg>
            <div><%= flashMessages.error %></div>
        </div>
    <% } %>
<% } %>
<div id="content">
    <%- body %>
</div>
</body>
</html>