<link rel="stylesheet" href="/css/user.css">
<script type="text/javascript" src="/js/actionFunctions.js"></script>
<input type="hidden" id="currentUserId" value="<%= currentUser ? currentUser._id : 'not_logged_in' %>"/>
<div id="userContainer">
    <div id="topContainer">
        <h1><%= user.username %></h1>
        <div class="userButtons">
            <% if (loggedIn) { %>
                <% if (currentUser._id.equals(user._id) || currentUser.isAdmin) { %>
                    <a id="logoutButton" href="/logout">Log Out</a>
                    <a class="userButton" href=<%= `/user/${user._id}/edit` %>>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <g>
                                <circle cx="5" cy="2.75" r="2.25" fill="none" stroke="#000000" stroke-linecap="round"
                                        stroke-linejoin="round"></circle>
                                <path d="M3.5,12.5H.5V11A4.51,4.51,0,0,1,7,7" fill="none" stroke="#000000"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                <polygon points="13.5 8.5 8.79 13.21 6.66 13.5 6.96 11.37 11.66 6.66 13.5 8.5"
                                         fill="none"
                                         stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></polygon>
                            </g>
                        </svg>
                    </a>
                    <a class="userButton" id="deleteButton" href=<%= `/user/${user._id}?_method=DELETE` %>>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <g>
                                <polyline points="11.5 5.5 10.5 13.5 3.5 13.5 2.5 5.5" fill="none" stroke="currentColor"
                                          stroke-linecap="round" stroke-linejoin="round"></polyline>
                                <line x1="1" y1="3.5" x2="13" y2="3.5" fill="none" stroke="currentColor"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></line>
                                <path d="M4.46,3.21l0-1.73a1,1,0,0,1,1-1h3a1,1,0,0,1,1,1v2" fill="none"
                                      stroke="currentColor"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                    </a>
                <% } else { %>
                    <button onclick="follow('<%= user._id %>')"
                            class="userFollowButton follow-<%= user._id %>"
                    <% if (user.followers.includes(currentUser._id)) { %>
                            style="background-color: #EAE34B; border: solid #EAE34B 1px"
                    <% } else { %>
                            style="background-color: white; border: solid black 1px"
                            <% } %>
                    >
                        <% if (user.followers.includes(currentUser._id)) { %>
                            <%= "Unfollow" %>
                        <% } else { %>
                            <%= "Follow" %>
                        <% } %>
                    </button>
                <% } %>
            <% } %>
        </div>
    </div>
    <div id="profileContainer">
        <img id="profilePicture"
             src="data:image/<%= user.profilePicture.contentType %>;base64,<%= user.profilePicture.data.toString('base64') %>"
             alt="profile-picture">
        <div id="numbersInfo">
            <div class="box">
                <div class="number"><%= user.posts.length %></div>
                <div class="label">Posts</div>
            </div>
            <div class="box">
                <div class="number"><%= user.followers.length %></div>
                <div class="label">Followers</div>
            </div>
            <div class="box">
                <div class="number"><%= user.following.length %></div>
                <div class="label">Following</div>
            </div>
        </div>
    </div>
    <div><%= user.email %></div>
    <div>Is Admin: <%= user.isAdmin %></div>
    <div class="masonryGrid">
        <% if(user.posts.length !== 0) { %>
            <% user.posts.forEach(post => { %>
                <%- include('../partials/userPostCard.ejs', {post: post, user: user}) %>
        <% })} %>
    </div>
</div>